.cell {
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: slateblue;
}
